<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="employee" class="com.beans.Employee">
		<constructor-arg name="name" type="java.lang.String" index="0" value="Jyoti" />
		<constructor-arg name="salCode" type="int" index="1" value="10341" />
	</bean>
	
	<bean id="address" class="com.beans.Address" lazy-init="true">
		<constructor-arg name="city" type="java.lang.String" value="Pune" />
		<constructor-arg name="zipcode" type="java.lang.String" value="411028" />
	</bean>
</beans>
